name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "*/5 * * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: oceanlvr/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 043d8f6f51cf6d9345a6f88b2502315a
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
